[Unit]
Description=Health777 FastAPI Service
After=network.target

[Service]
User=appuser  # 替换为实际运行服务的用户
Group=appuser  # 替换为实际运行服务的用户组
WorkingDirectory=/usr/local/app/health777_cn_backend  # 应用目录路径
Environment="PATH=/usr/local/app/health777_cn_backend/venv/bin"
ExecStart=/usr/local/app/health777_cn_backend/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 4
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=health777_api

[Install]
WantedBy=multi-user.target
